[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8-import-order = "*"
flake8-tidy-imports = "*"
pyflakes = {git = "https://github.com/PyCQA/pyflakes.git",ref = "1911c203a13826d2eb03d582d60874b91e36f4fc"}
flake8-annotations = "*"

[packages]
requests = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
networkx = "*"
pillow = "*"

[requires]
python_version = "3.8"

[scripts]
day = "python -m solutions --solve"
create = "python -m solutions --create"
